<p>
Publication ID: <%= @publication[:id] %>
</p>
<p>
Title: <%= @publication[:title] %>
</p>


<p>
Person ID: <%= @addresses[:person_id] %>
</p>
<p>
Department ID: <%= @addresses[:department_id] %>
</p>

